footer {
    margin-top: 4.5rem;
    margin-inline: auto;
    background: url(../assets/img/book-trace-background-mobile.svg) center/cover;
    padding-block: 7.5rem 4rem;
    gap: 2.5rem;
}

footer div:nth-child(1) {
    max-width: var(--max-width);
    justify-self: center;
    justify-content: center;
    gap: 0.75rem;
}

footer div:nth-child(1) img[src*="logo"] {
    width: 10rem;
    justify-self: center;
}

footer div:nth-child(1) .flex {
    width: 20rem;
    border-top: 1px solid var(--shape-stroke);
    padding-top: 0.75rem;
    justify-content: space-evenly;
}

footer div:nth-child(1) .flex a {
    z-index: 0;
    position: relative;
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div:nth-child(1) .flex a svg path {
    transition: fill 400ms ease;
}

footer div:nth-child(1) .flex a::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: inherit;
    height: inherit;
    background-color: var(--shape-stroke);
    top: 0;
    left: 0;
    border-radius: inherit;
    scale: 0;
    transition: scale 200ms ease;
}

footer div:nth-child(1) .flex a:hover svg path {
    fill: #ffffff;
}

footer div:nth-child(1) .flex a:hover::after {
    scale: 100%;
}

footer .foot {
    max-width: var(--max-width);
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
}

footer .foot div:nth-child(2) {
    margin-left: 1.25rem;
}

footer .foot h3 {
    color: var(--text-body);
    font: 600 1rem/1 var(--font-family);
    margin-bottom: 1.25rem;
}

footer .foot li {
    font: 500 0.875rem/1 var(--font-family);
    color: var(--blue-light);
    transition: color 400ms ease;
}

footer .foot li:hover {
    color: var(--text-body);
}

@media (min-width: 48em) {
    footer {
        margin-top: 1rem;
        background: url(../assets/img/book-trace-background.svg) center/cover;
        padding-block: 8.5rem 4rem;
    }

    footer div:nth-child(1) img[src*="logo"] {
        width: 16.5rem;
    }
}

@media (min-width: 64em) {
    footer {
        padding-block: 11rem 7rem;
        grid-auto-flow: column;
    }

    
}