#hero {
    background-image: url(../assets/img/hero-background.svg);
    background-position: center;
    background-size: cover;
    padding-bottom: 12rem;
    animation: bg 1.5s ease-out both;
}

#hero nav {
    max-width: var(--max-width);
    margin-inline: auto;
    justify-content: space-between;
    padding: 1.5rem;
}

#hero a {
    position: relative;
    background-color: var(--pink-dark);
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    color: var(--text-title);
    font: bold 0.875rem/100% var(--font-family);
    z-index: 1;
}

#hero a::before {
    content: "";
    background-color: var(--pink-base);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 25%;
    z-index: -1;
    -webkit-transform: scaleX(0); /* Prefixo para Safari */
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 200ms ease-in-out; /* Prefixo para Safari */
    transition: -webkit-transform 200ms ease-in-out; /* Safari novamente */
    transition: transform 200ms ease-in-out;
}

#hero a:hover::before {
    -webkit-transform: scaleX(1); /* Prefixo para Safari */
    transform: scaleX(1);
    border-radius: inherit;
}

#hero header {
    padding-block: 3rem;
    padding-inline: 1.25rem;
    max-width: var(--max-width);
    margin-inline: auto;
    text-align: center;
}

#hero header h1 {
    font: bold 1.75rem/100% var(--font-family);
    color: var(--text-title);
    opacity: 0;
    animation: bg 1.5s ease both;
}

#hero header p {
    font: 400 0.875rem/1.4 var(--font-family);
    color: var(--text-body);
    opacity: 0;
    animation: appear 1s 750ms ease-out both;
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes bg {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 100%;
    }
}

@media screen and (min-width: 80em) {
    #hero {
        padding-bottom: 24rem;
    }

    #hero nav {
        padding: 3.5rem;
    }

    #hero nav img + img {
        display: none;
    }

    #hero header {
        padding-top: 10.25rem;
    }

    #hero header h1 + h1,
    #hero header p + p {
        display: none;
    }

    #hero header h1 {
        font-size: 3rem;
    }

    #hero header p {
        font-size: 1.25rem;
        margin-top: 1rem;
    }
}
