/* Container 350px - BG */
#price {
    background: url(../assets/img/pricing-background.png) no-repeat center/cover;
    padding-top: 4rem;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 4rem;
}
/* Container - BG Blur */
#price::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    left: 8rem;
    border-radius: 5rem;
    background: #000F1F;
    z-index: -1;
    filter: blur(200px);
}
/* -------- Header - Assinaturas -------- */
#price h1 {
    z-index: 1;
    text-align: center;
    margin-inline: auto;
    max-width: var(--max-width);
    color: var(--text-body);
    font: 600 1.5rem/1 var(--font-family);
    margin-bottom: 3rem;
}
#price h1 + div {
    flex-direction: column; /* Empilhamento 375px */
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-inline: auto;
    max-width: var(--max-width);
    gap: 2.5rem;
}
/* --- Analisar essas estrelas quando fizer o Desktop --- */
#price h1 + div img[src*="star"] {
    transition: transform 500ms;
}
#price h1 + div img[src*="star"]:hover {
    transform: rotate(180deg);
}
/* --- Cards Mensal(1) e Anual(3) e Semestral(2) --- */
#price h1 + div .card,
#price h1 + div .card-popular {
    border: 1px solid var(--shape-stroke);
    display: grid;
    border-radius: 1.5rem;
    width: 17rem;
    height: 25rem;
    background-color: var(--shape-base);
    padding: 2rem;
    font-family: var(--font-family);
    transition: scale 600ms ease, background-color 500ms ease;
}
/* Label mensal e anual */
#price h1 + div .card .plan-name:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
    color: var(--blue-light);
}
/* H2 - Preço Maior */
#price h1 + div .card h2,
#price h1 + div .card-popular h2 {
    margin-block: 1.5rem 0.5rem;
    color: var(--text-title);
    font-weight: 600;
    font-size: 2.2rem;
}
/* H2 - /por mês */
#price h1 + div .card h2 small,
#price h1 + div .card-popular h2 small {
    font-size: 1.25rem;
}
/* SPAN - Preço anual */
#price h1 + div .card h2 + span,
#price h1 + div .card-popular h2 + span {
    color: var(--text-label);
    opacity: 0.9;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.4;
}
/* UL - Global*/
#price h1 + div .card ul[role="list"],
#price h1 + div .card-popular ul[role="list"] {
    margin-block: 2rem 1.5rem;
    display: grid;
    gap: 0.75rem;
}
/* LI - Lista de features */
#price h1 + div .card ul[role="list"] li,
#price h1 + div .card-popular ul[role="list"] li {
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: var(--text-label);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.4;
    gap: 0.5rem;
}
/* Icone de features */
#price h1 + div .card ul[role="list"] li img,
#price h1 + div .card-popular ul[role="list"] li img {
    aspect-ratio: 1;
    width: 0.75rem;
}
/* Botão Azul*/
section#price h1 + div .card a,
section#price h1 + div .card-popular a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Garante que o botão ocupe toda a largura disponível no card */
    max-width: 13rem; /* Define a largura máxima */
    height: 3rem; /* Define uma altura consistente */
    border-radius: 0.5rem;
    background-color: var(--blue-dark);
    color: var(--text-title);
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 0; /* Remove padding redundante, já temos altura fixa */
    margin: 0 auto; /* Centraliza horizontalmente se necessário */
}
/* Hover sobre o card */
section#price h1 + div .card:hover,
section#price h1 + div .card-popular:hover {
    scale: 1.05;
    background-color: var(--shape-hover);
}
/* Animação nos bullets */
section#price h1 + div .card:hover img[src*="star"],
section#price h1 + div .card-popular:hover img[src*="star"] {
    rotate: 30deg;
}
/* --- Card Semestral(2) - Herdado --- */
/* Label Semestral - Popular */
#price h1 + div .card-popular .plan-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Label Semestral */
#price h1 + div .card-popular .semestral { 
    color: var(--pink-light);
}
/* Label Popular */
#price h1 + div .card-popular .label-popular {
    padding: 0.5rem 1.25rem;
    border-radius: 999px;
    background-color: var(--shape-stroke);
    color: var(--text-body);
    font-size: 0.625rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
/* H2 - Preço Maior - Herdado */
/* H2 - /por mês - Herdado */
/* SPAN - Preço anual - Herdado */
/* UL - Global - Herdado */
/* LI - Lista de features - Herdado */
/* Icone de features - Herdado */
/* Botão Pink*/
section#price h1 + div .card-popular a {
    background-color: var(--pink-dark);
}
/* Hover sobre o card - Herdado */
/* Animação nos bullets - Herdado */
/* --------------------------- 768px --------------------------------------- */
@media (min-width: 48em) {
    #price h1 + div .s1, 
    #price h1 + div .s2, 
    #price h1 + div .s3,
    #price h1 + div .s4,
    #price h1 + div .rbbt {
        display: none;
    }
    #price h1 + div {
        flex-direction: row;
        max-width: var(--max-width);
        padding-block: 2rem 4rem;
        gap: 1rem;
    }
    #price h1 {
        font: 600 2rem/1 var(--font-family);
        margin-bottom: 3.5rem;
    }
    #price h1 + div .card,
    #price h1 + div .card-popular {
        width: 14rem;
        height: 22rem;
        padding: 1.5rem;
    }
    #price h1 + div .card .plan-name:nth-child(1),
    #price h1 + div .card-popular .plan-name:nth-child(1) {
        font-size: 0.875rem;
    }
    #price h1 + div .card h2,
    #price h1 + div .card-popular h2 {
        margin-block: 1.5rem 0.5rem;
        font-size: 1.8rem;
    }
    #price h1 + div .card h2 small,
    #price h1 + div .card-popular h2 small {
        font-size: 0.875rem;
    }
    #price h1 + div .card ul[role="list"] li,
    #price h1 + div .card-popular ul[role="list"] li {
        white-space: nowrap;
        font-size: 0.6rem;
        line-height: 1.2;
        gap: 0.5rem;
    }
    #price h1 + div .card ul[role="list"] li img,
    #price h1 + div .card-popular ul[role="list"] li img {
        aspect-ratio: 1;
        width: 0.5rem;
    }
    section#price h1 + div .card a,
    section#price h1 + div .card-popular a {
        max-width: 10rem; /* Define a largura máxima */
        height: 2rem; /* Define uma altura consistente */
        font-size: 0.75rem;
    }
    section#price h1 + div .card:hover {
        scale: 1.03;
    }
    /* Card 2 - Herdado */
    /* Label mensal e anual - Herdados */
    #price h1 + div .card-popular .semestral {
        font-size: 0.875rem;
        font-weight: 600;
    }
    #price h1 + div .card-popular .label-popular {
        padding: 0.5rem 1rem;
        font-size: 0.5rem;
    }
    /* H2 - Preço Maior - Herdados */
    /* H2 - small - Herdados */ 
    /* UL - Global - Herdados */
    /* Icone de features - Herdado */
    /* Botão Pink* - Herdado */
}
/* --------------------------- 1024px --------------------------------------- */
@media (min-width: 64em) {
    #price {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    #price h1 + div {
        padding-block: 2rem 4rem;
        gap: 2rem; 
    }
    #price h1 {
        font: 600 2.5rem/1.2 var(--font-family);
        margin-bottom: 3rem;
    }
    #price h1 + div .card,
    #price h1 + div .card-popular {
        width: 18rem;
        height: 26rem;
        padding: 2rem;
    }
    #price h1 + div .card .plan-name:nth-child(1),
    #price h1 + div .card-popular .plan-name:nth-child(1) {
        font-size: 1.2rem;
    }
    #price h1 + div .card h2,
    #price h1 + div .card-popular h2 {
        margin-block: 1.5rem 0.5rem;
        font-size: 2.5rem;
    }
    #price h1 + div .card h2 small,
    #price h1 + div .card-popular h2 small {
        font-size: 1.2rem;
    }
    #price h1 + div .card h2 + span,
    #price h1 + div .card-popular h2 + span {
    font-size: 1rem;
    line-height: 1.4;
    }
    #price h1 + div .card ul[role="list"] li,
    #price h1 + div .card-popular ul[role="list"] li {
        font-size: 0.75rem;
        line-height: 1.2;
        gap: 0.5rem;
    }
    #price h1 + div .card ul[role="list"] li img,
    #price h1 + div .card-popular ul[role="list"] li img {
    width: 0.75rem;
    }
    section#price h1 + div .card a,
    section#price h1 + div .card-popular a {
        max-width: 13rem; /* Define a largura máxima */
        height: 2.5rem; /* Define uma altura consistente */
        font-size: 0.875rem;
    }
    #price h1 + div .card-popular .semestral {
        font-size: 1.2rem;
    }
    #price h1 + div .card-popular .label-popular {
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
    }
}
/* --------------------------- 1280px --------------------------------------- */
@media (min-width: 80em) {

    #price h1 + div {
        padding-block: 6rem 6rem;
        gap: 2rem; 
    }

    #price h1 + div .card,
    #price h1 + div .card-popular {
        width: 22rem;
        height: 30rem;
        padding: 3rem;
        position: relative;
    }
    #price h1 + div .s1 {
        display: inline-block;
        position: absolute;
        top: 18rem !important;
        left: 2rem !important;
        width: 2.5rem;
        height: 2.5rem;
    }
    #price h1 + div .s2 {
        display: inline-block;
        position: absolute;
        top: 21rem;
        left: 1rem;
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
    #price h1 + div .rbbt {
        display: block;
        position: absolute;
        top: -3.2rem;
        left: 3rem;
    }
    #price h1 + div .s3 {
        display: inline-block;
        position: absolute;
        bottom: 9rem;
        right: 1rem;
    }
    #price h1 + div .s4 {
        display: inline-block;
        position: absolute;
        bottom: 7rem;
        right: 4rem;
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
    #price h1 + div .card .plan-name:nth-child(1),
    #price h1 + div .card-popular .plan-name:nth-child(1) {
        font-size: 1.5rem;
    }
    #price h1 + div .card h2,
    #price h1 + div .card-popular h2 {
        margin-block: 1.5rem 0.5rem;
        font-size: 2.8rem;
    }
    #price h1 + div .card h2 small,
    #price h1 + div .card-popular h2 small {
        font-size: 1.5rem;
    }
    #price h1 + div .card h2 + span,
    #price h1 + div .card-popular h2 + span {
    font-size: 1.4rem;
    line-height: 1.6;
    }
    #price h1 + div .card ul[role="list"] li,
    #price h1 + div .card-popular ul[role="list"] li {
        font-size: 0.875rem;
        line-height: 1.2;
        gap: 0.5rem;
    }
    #price h1 + div .card ul[role="list"] li img,
    #price h1 + div .card-popular ul[role="list"] li img {
    width: 0.875rem;
    }
    section#price h1 + div .card a,
    section#price h1 + div .card-popular a {
        max-width: 15rem; /* Define a largura máxima */
        height: 2.8rem; /* Define uma altura consistente */
        font-size: 1rem;
    }
    #price h1 + div .card-popular .semestral {
        font-size: 1.5rem;
    }
    #price h1 + div .card-popular .label-popular {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }
}
/* --------------------------- 1440px --------------------------------------- */
@media (min-width: 90em) {
    #price h1 + div {
        max-width: var(--max-width);
    }

    #price h1 + div .s1 {
        top: 18rem !important;
        left: 6rem !important;
    }
    #price h1 + div .s2 {
        top: 21rem;
        left: 5rem;
    }
    #price h1 + div .s3 {
        bottom: 9rem;
        right: 6rem;
    }
    #price h1 + div .s4 {
        bottom: 7rem;
        right: 9rem;
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
}