/* Container - BG */
#price {
    background: url(../assets/img/pricing-background.png) no-repeat center/cover;
    padding-top: 4rem;
    position: relative;
    border: 1px solid red;
    overflow-y: hidden;
    padding-bottom: 4rem;
}
/* Container - Blur */
#price::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    left: 8rem;
    border-radius: 5rem;
    background: #000F1F;
    z-index: -1;
    filter: blur(200px);
}

/* ---------------------------------------- */
/* Título - Call to action - Assinaturas */
#price h1 {
    z-index: 1;
    text-align: center;
    margin-inline: auto;
    max-width: var(--max-width);
    color: var(--text-body);
    font: 600 1.5rem/1 var(--font-family);
    margin-bottom: 3rem;
}

#price h1 + div {
    flex-direction: column; /* Empilhamento 375px */
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-inline: auto;
    max-width: var(--max-width);
    gap: 2.5rem;
}

/* ------------------------------------------ */
/* Analisar essas estrelas quando fizer o Desktop */
#price h1 + div img[src*="star"] {
    transition: transform 500ms;
}

#price h1 + div img[src*="star"]:hover {
    transform: rotate(180deg);
}

/* ------------------------------------------ */
/* Cards Mensal(1) e Anual(3) */
#price h1 + div .card {
    border: 1px solid var(--shape-stroke);
    display: grid;
    border-radius: 1.5rem;
    width: 17rem;
    height: 25rem;
    background-color: var(--shape-base);
    padding: 2rem;
    font-family: var(--font-family);
    transition: scale 600ms ease, background-color 500ms ease;
}
/* Label mensal e anual */
#price h1 + div .card .plan-name:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
    color: var(--blue-light);
}
/* H2 - Preço Maior */
#price h1 + div .card h2 {
    margin-block: 1.5rem 0.5rem;
    color: var(--text-title);
    font-weight: 600;
    font-size: 2.2rem;
}
/* H2 - /por mês */
#price h1 + div .card h2 small {
    font-size: 1.25rem;
}
/* SPAN - Preço anual */
#price h1 + div .card h2 + span {
    color: var(--text-label);
    opacity: 0.9;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.4;
}
/* UL - Global*/
#price h1 + div .card ul[role="list"] {
    margin-block: 2rem 1.5rem;
    display: grid;
    gap: 0.75rem;
}
/* LI - Lista de features */
#price h1 + div .card ul[role="list"] li {
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: var(--text-label);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.4;
    gap: 0.5rem;
}
/* Icone de features */
#price h1 + div .card ul[role="list"] li img {
    aspect-ratio: 1;
    width: 0.75rem;
}
/* Botão Azul*/
section#price h1 + div .card a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Garante que o botão ocupe toda a largura disponível no card */
    max-width: 13rem; /* Define a largura máxima */
    height: 3rem; /* Define uma altura consistente */
    border-radius: 0.5rem;
    background-color: var(--blue-dark);
    color: var(--text-title);
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 0; /* Remove padding redundante, já temos altura fixa */
    margin: 0 auto; /* Centraliza horizontalmente se necessário */
}
/* Hover sobre o card */
section#price h1 + div .card:hover {
    scale: 1.05;
    background-color: var(--shape-hover);
}
/* Animação nos bullets */
section#price h1 + div .card:hover img[src*="star"] {
    rotate: 30deg;
}
/* ------------------------------------------ */

/* ------------------------------------------ */
/* Card Semestral */
#price h1 + div .card-popular {
    border: 1px solid var(--shape-stroke);
    display: grid;
    border-radius: 1.5rem;
    width: 17rem;
    height: 25rem;
    background-color: var(--shape-base);
    padding: 2rem;
    font-family: var(--font-family);
    transition: scale 600ms ease, background-color 500ms ease;
}
/* Label Semestral - Popular */
#price h1 + div .card-popular .plan-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Label Semestral */
#price h1 + div .card-popular .semestral {
    font-size: 1rem;
    font-weight: 600;
    color: var(--pink-light);
}
/* Label Popular */
#price h1 + div .card-popular .label-popular {
    padding: 0.5rem 1.25rem;
    border-radius: 999px;
    background-color: var(--shape-stroke);
    color: var(--text-body);
    font-size: 0.625rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/* H2 - Preço Maior */
#price h1 + div .card-popular h2 {
    margin-block: 1.5rem 0.5rem;
    color: var(--text-title);
    font-weight: 600;
    font-size: 2.2rem;
}
/* H2 - /por mês */
#price h1 + div .card-popular h2 small {
    font-size: 1.25rem;
}
/* SPAN - Preço anual */
#price h1 + div .card-popular h2 + span {
    color: var(--text-label);
    opacity: 0.9;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.4;
}
/* UL - Global*/
#price h1 + div .card-popular ul[role="list"] {
    margin-block: 2rem 1.5rem;
    display: grid;
    gap: 0.75rem;
}
/* LI - Lista de features */
#price h1 + div .card-popular ul[role="list"] li {
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: var(--text-label);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.4;
    gap: 0.5rem;
}
/* Icone de features */
#price h1 + div .card-popular ul[role="list"] li img {
    aspect-ratio: 1;
    width: 0.75rem;
}
/* Botão Pink*/
section#price h1 + div .card-popular a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Garante que o botão ocupe toda a largura disponível no card */
    max-width: 13rem; /* Define a largura máxima */
    height: 3rem; /* Define uma altura consistente */
    border-radius: 0.5rem;
    background-color: var(--pink-dark);
    color: var(--text-title);
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 0; /* Remove padding redundante, já temos altura fixa */
    margin: 0 auto; /* Centraliza horizontalmente se necessário */
}
/* Hover sobre o card */
section#price h1 + div .card-popular:hover {
    scale: 1.05;
    background-color: var(--shape-hover);
}
/* Animação nos bullets */
section#price h1 + div .card-popular:hover img[src*="star"] {
    rotate: 30deg;
}










